<%= form_for @post, html: { multipart: true } do |f| %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label "Category" %>
    <% categories = [ "Action", "Architecture", "Landscape", "People"] %>
    <%= f.select :category, options_for_select(categories) %>
  </p>

  <p>
    <%= f.label "Use image on main page?" %>
    <%= f.select :main_page, [['Yes', true], ['No', false]] %>
  </p>

  <p>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </p>
<hr>
  <%= f.submit "Submit" %>
<% end %>
