<div class="categories">
  <%= link_to "All", posts_path, class: "category" %>
  <% @category.each do |cat| %>
    <%= link_to cat, posts_path(:category=>cat), class: "category" %>
  <% end %>
</div>

<% if admin_signed_in? %>
  <div class="upload">
    <button type="button" name="button"><%= link_to "Upload", new_post_path %></button>
  </div>
<% end %>

<div class="picture container-fluid">
  <div class="row">
    <% @post.each do |p| %>
    <div class="image col-xs-6 col-sm-3">
    <% if admin_signed_in? %>
      <p><%= link_to p.title, edit_post_path(p) %></p>
    <% end %>
    <%= link_to p.image.url, data: { lightbox: "gallery", title: p.title } do %>
      <div class="gallery_image" style="background-image:url('<%= p.image.url %>');">
      </div>
    <% end %>
    </div>
    <% end %>
  </div>
</div>
