<div class="container-fluid show">
  <div class="row">
    <div class="col-xs-4">
<h1><%= @post.title %></h1>
<h4>Category: <%= @post.category %></h4>
<%= image_tag @post.image.url(:medium) %>
<br>

<% if @post.previous %>
    <button type="button" name="button"><%= link_to "< Previous", @post.previous %></button>
<% end %>
<% if @post.next %>
    <span class="pull-right"><button type="button" name="button"> <%= link_to "Next >", @post.next %></button> </span>
<% end %>
<br>
<br>
<% if admin_signed_in? %>
  <button type="button" class="btn btn-primary"><%= link_to "Edit", edit_post_path(@post) %></button>
  <button type="button" class="btn btn-danger"><%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %></button>
  <button type="button" class="btn btn-secondary"> <%= link_to "Back to images", posts_path %> </button>
<% end %>
</div>

</div>
</div>
